<%= form_for @calendar, :url => (@calendar.new_record? ? spud_admin_calendars_path : spud_admin_calendar_path(@calendar)),:html=>{:class=>"form-horizontal"}  do |f| %>
    <%= error_messages_for(f.object) %>
    <div class="control-group">
      <%= f.label :title,:class => "control-label" %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
    </div>
        <div class="control-group">
      <%= f.label :color,:class => "control-label" %>
      <div class="controls">
        <%= f.hidden_field :color %>
        <div class="spud_events_admin_color_picker"></div>
      </div>
    </div>
 <div class="form-actions">
  <%=f.submit "Save", :class=>"btn btn-primary"%> or <%=link_to "cancel",spud_admin_list_spud_calendar_events_path,:class => "btn"%>
  </div>

<% end %>
