<%= form_for @calendar, :url => (@calendar.new_record? ? spud_admin_calendars_path : edit_spud_admin_calendar_path(@calendar)) do |f| %>
    <%= error_messages_for(f.object) %>
    <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :color %>
        <%= f.hidden_field :color %>
        <div class="spud_events_admin_color_picker"></div>
    </p>
    <p>
        <%= f.submit "Save" %>
    </p>
<% end %>
