<p><%= next_calendar_month_path(@calendar_date, {:controller => 'spud/admin/calendar_events'}) %></p>
<p><%= previous_calendar_month_path(@calendar_date, {:controller => 'spud/admin/calendar_events'}) %></p>

<%= build_calendar_for @calendar_events, :year => @calendar_date.year, :month => @calendar_date.month do |t| %>
  <%= raw t.head('S', 'M', 'T', 'W', 'T', 'F', 'S') %>
  <%= t.day do |day, tasks| %>
    <div class="spud_events_admin_calendar_date_container">
        <%= content_tag :span, day.day, :class => (tasks.count > 0 ? "spud_events_admin_calendar_date wd_admin_calendar_date_active" : "spud_events_admin_calendar_date") %>
    <% tasks.each do |task| %>
      <%= link_to task.title[0,25], edit_spud_admin_calendar_event_path(task.id), :class => "spud_events_admin_calendar_event_marker spud_events_calendar_event_#{task.spud_calendar_id}", :style => "background-color: \##{task.spud_calendar.color}" %>
    <% end %>
    </div>
  <% end %>
<% end %>
