<%= form_for [:spud_admin, @calendar_event] do |f| %>
  <%= error_messages_for(f.object) %>
  <p>
    <%= f.label :spud_calender_id, "Calendar" %>
    <%= f.select(:spud_calendar_id, options_from_collection_for_select(SpudCalendar.all, :id, :title, @calendar_event.spud_calendar_id)) %>
  </p>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :start_at, "Starts" %>
    <%= f.datetime_select(:start_at, :ampm => true, :default =>  DateTime.now, :minute_step => 5)%>
  </p>
  <p>
    <%= f.label :end_at, "Ends" %>
    <%= f.datetime_select(:end_at, :ampm => true, :default =>  DateTime.now, :minute_step => 5)%>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Save", :class => 'wymupdate' %>
  </p>
  <p>
    <%= button_to "Delete", spud_admin_spud_calendar_event(f.object.id), :method=>:delete, :confirm=>"Are you sure you want delete this event?" %>
  </p>
<% end %>
<br class="clear" />
